<header class="site-header" role="banner">

  <nav class="navbar container is-max-desktop" role="navigation" aria-label="main navigation">    

    
    <div class="navbar-brand">
      <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start" style="flex-grow: 1">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}" style="text-align: left;">{{ site.title | escape }}</a>
    
        {%- if page_paths -%}
        <div class="navbar-item has-dropdown is-hoverable" style="margin-left: auto;">
          <a class="navbar-link"> More Research </a>
          <div class="navbar-dropdown">
            <ul class="centered">
              {%- for path in page_paths -%}
              {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                  {%- unless my_page.exclude -%}
                  <li><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                  {%- endunless -%}
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
        </div>
        {%- endif -%}
      </div>
    </div>
  </nav>
</div>
  
</header>
