<section class="hero">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <div class="columns is-centered">
        <div class="column has-text-centered">
          <h1 class="title is-1 publication-title">{{page.long_title}}</h1>
          {%include author.html title=page.permalink%} {%include
          buttons.html title=page.permalink%}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero teaser">
  <div class="container is-centered is-max-desktop">
    <div class="hero-body">
        <div class="publication-video">
            <iframe
            width="912"
            height="513"
            src="https://www.youtube.com/embed/{{page.video_id}}?autoplay=1&mute=1"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
            ></iframe>
        </div>
      <h2 class="subtitle has-text-centered">{{page.long_title}}</h2>
    </div>
  </div>
</section>
